<section>
    <div class="container-fluid">
        <div class="modal-header">
            <h3 class="text-center">Create New Task</h3>
        </div>
        <form class="form">
            <div class="modal-body">
                <div class="form-group">
                    <label>Name:</label>
                    <textarea class="form-control" rows="5" ng-model="task.body"></textarea>
                </div>
                <div class="form-group">
                    <label>List:</label>
                    <select class="form-control" ng-model="selectedList" ng-options="list.name for list in lists track by list.id">

                    </select>
                </div>
            </div>
            <div class="modal-footer">
            <div class="form-group ">
                <input type="submit" ng-click="createTask()" class="btn btn-primary pull-right"/>
            </div>
            </div>
        </form>
    </div>
</section>
