<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="panel panel-primary" >
            <div class="panel-heading">

                <strong> User Lists </strong>
                <button class="btn btn-primary" title="Add New List"> <span class="glyphicon glyphicon-plus" ng-click="show_create()"></span> </button>
                <input type="text" ng-model="query" class="form-control pull-right" style="width: 200px; display: inline-block"
                       placeholder="&#x1f50d;Search">

            </div>
            <div class="panel-body">
                <ul class="list-group" id="lists">
                    <li ng-repeat="list in lists | filter:query" class="list-group-item" style="width: 400px;">
                        <div class="row">
                            <div class="col-xs-9 col-sm-9 col-md-9">
                                <a ui-sref=".task({id: {{list.id}} })" ui-sref-active="active">{{list.name}} </a>
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3">
                                <a href="" ng-click="show_edit(list);"><span class="glyphicon glyphicon-pencil"></span></a> |
                                <a href="" ng-click="remove(list.id);"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8">
            <div ui-view></div>
    </div>
</div>




