<!DOCTYPE html>
<div class="row">
    <div class="col-lg-offset-2 col-md-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5 class="text-center">Login</h5>
                <form name="loginForm" class="form form-signup" role="form" novalidate ng-submit="logUser()" >
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input ng-model="user.email" name="email" type="email" class="form-control" placeholder="Email Address" required />
                        </div>
                        <span ng-show="loginForm.$submitted && loginForm.email.$error.required">Email Invalid</span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span> </span>
                            <input ng-model="user.password" name="password"  type="password" class="form-control" placeholder="Password"  required/>
                        </div>
                        <span ng-show="loginForm.$submitted && loginForm.password.$error.required">Password Invalid</span>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block" value="Login"/>
                </form>
            </div>
        </div>
    </div>
</div>