<section>
    <div class="container-fluid">
        <div class="modal-header">
            <h3 class="text-center">Create New List</h3>
        </div>
        <form class="form">
            <div class="modal-body">
                <div class="form-group">
                    <label>Name:</label>
                    <textarea class="form-control" rows="5" ng-model="modalList.name"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group ">
                    <input type="submit" ng-click="updateList()" class="btn btn-primary pull-right"/>
                </div>
            </div>
        </form>
    </div>
</section>
