<div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5 class="text-center">Registration</h5>
            <form name="userDetails"   id="registerAsOwner" ng-submit="register();"  class="form"  role="form" novalidate>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <input id="name" class="form-control" placeholder="Name"   />
                    </div>
                    <span class="error" id="nameError"> </span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span> </span>
                        <input id="email" type="text" ng-model="user.email"  class="form-control" placeholder="Email Address" />
                    </div>
                    <span class="error" id="emailError"> </span>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input id="pass" ng-model="user.password"  type="password" class="form-control" placeholder="Password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input id="pass_conf" ng-model="user.password_confirmation" type="password" class="form-control" placeholder="Password Confirmation" />
                    </div>
                </div>
                <input  class="btn btn-lg btn-primary btn-block" type="submit" id="registerBtn" value="Register"/>
            </form>
        </div>
    </div>
</div>