<div class="panel panel-primary" style="margin-right: 10px;">
    <div class="panel-heading ">
        <p style="display: inline-block" class="panel-title"> <strong> {{list_name}} </strong> </p>
        <button title="Add New Task"  class="btn btn-primary" ng-click="show_create()"><span class="glyphicon glyphicon-plus"></span></button>
        <input type="text" class="form-control pull-right" ng-model="query" style="width: 250px; display: inline-block"
               placeholder="&#x1f50d;Search">
    </div>
    <div class="panel-body">


        <h3 class=" text-center">Unfinished Tasks</h3>
        <ul class="list-group" id="tasks">
            <li ng-repeat="task in tasks | filter:{state: false} | filter: query" class="list-group-item">
                <task-directive tas="task" changes="change_state(task)" show="show_update(task)"
                                rem="remove(task.id)"></task-directive>
            </li>
        </ul>
        <p class="text-center">{{msg}}</p>
        <hr/>
        <h3  class=" text-center">Finished Tasks</h3>
        <ul class="list-group" id="tasks1">
            <li ng-repeat="task in tasks | filter:{state: true} | filter: query" class="list-group-item">
                <task-directive tas="task" changes="change_state(task)" show="show_update(task)"
                                rem="remove(task.id)"></task-directive>
            </li>
        </ul>
        <p class="text-center">{{msg}}</p>
    </div>
</div>





