<div class="row">
    <div class="col-xs-1 col-sm-1 col-md-1">
        <input ng-model="tas.state" ng-change="changes()" type="checkbox"/>
    </div>
    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        <div>{{tas.body}}</div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <a href="" ng-click="show()"><span class="glyphicon glyphicon-pencil"></span></a> |
        <a href="" ng-click="rem()"><span class="glyphicon glyphicon-remove"></span></a>
    </div>
</div>